@import "./fonts.css";
@import "./tailwind.css";
@import "./editor.css";

/*
  Based on https://css-tricks.com/old-timey-terminal-styling/
  See /src/ui/components/Console.tsx
*/
.terminal {
  position: relative;
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  color: white;
  text-shadow: 0 0 5px #c8c8c8;

  @apply whitespace-pre-wrap break-all font-mono;

  &::after {
    @apply pointer-events-none absolute inset-0 h-full w-full;
    content: "";
    background: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15) 1px,
      transparent 1px,
      transparent 2px
    );
  }

  ::selection {
    background: #0080ff;
    text-shadow: none;
  }
}
