@reference "#tailwind-main";

/* Based on https://www.joshwcomeau.com/animation/3d-button/#mobile-enhancements-8 */
.printer {
  @apply relative m-2;
}

.shadow {
  @apply absolute inset-0 rounded-xl bg-black/25;
  transform: translateY(2px);
}

.sides {
  @apply absolute inset-0 rounded-xl;
  background: linear-gradient(
    to left,
    var(--color-zinc-500) 0%,
    var(--color-zinc-400) 8%,
    var(--color-zinc-400) 92%,
    var(--color-zinc-500) 100%
  );
}

.front {
  @apply relative block rounded-xl bg-zinc-300 px-4 py-6;
  transform: translateY(-30px);
}

.trailContainer {
  @apply absolute inset-x-0 -top-14;

  .trail {
    @apply mx-auto flex h-16 w-40 items-end bg-zinc-900 px-2 pb-1;

    .paper {
      @apply w-full whitespace-pre-wrap break-all bg-zinc-50 p-1 font-mono text-lg;
      color: var(--color-zinc-900);
      text-shadow: 0 0 2px var(--color-zinc-500);
    }
  }
}
