{
  "root": true,
  "parserOptions": {
    "ecmaFeatures": { "jsx": true }
  },
  "settings": {
    "react": { "version": "detect" },
    // https://github.com/francoismassart/eslint-plugin-tailwindcss#optional-shared-settings
    "tailwindcss": {
      "callees": ["clsx"],
      "config": "./tailwind.config.ts"
    }
  },
  "extends": [
    "vonsim",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:tailwindcss/recommended"
  ],
  "plugins": ["react", "react-hooks"],
  "rules": {
    "react/no-unknown-property": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off"
  }
}
