#headerControls{
    font-size: 2em;
    background-color: #34bbfc;
    border-bottom: 5px solid #337ab7;
    padding:5px;
/*     display:flex; */
    justify-content:space-between;
    align-items: center;
}
.fa{
	margin-right:5px;
}

.controlSection{
    padding-left:2px;
    margin-left:15px;
}
.controlSection a{
	min-width:100px;
}
.controlSectionSeparator{
	margin-left:90px;
}
.controlSectionStart{
    margin-left:20px;
}

.quickButton{
	margin-right: 90px;
}

.navbar{
	margin-bottom: 0px;
	border: 0px;
	z-index: 9999;
}

@media screen and (max-height: 748px) {
	.navbar {
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 788px) {
	.navbar {
		margin-bottom: 15px;
	}
}

.navbar-collapse{
	border-color: #337ab7 !important;
}

#headerOptions{
    display: flex;
}
#dropdownTutorialButton{
    background-color: #34bbfc;
}
.clickable {
	cursor: pointer;
}
.non-clickable {
	pointer-events: none;
}

span.caret {
    display:none;
}

#title{
    font-size:0.8em;
    padding:5px;
}

#icon{
/*     width:96px; */
    height:48px;
    padding:0px;
    margin:0px;
    padding:4px 20px;
}

.simulatorState{
/* 	pointer-events: none; */
	pointer-events: auto; 
/* 	margin-left:20px; */

}
#headerSeparator{
	margin-left:auto;
}
#languageButtonContainer{
/*    display:flex; */
    justify-content:space-between;
    align-items: center;
}

@media screen and (max-width: 1150px) {
	#languageButtonContainer{
	    margin-left: 25px;
	}
	.dropdown{
	    margin-left: 12px;
	}
}

.dropdown-item {
	padding: 3px 20px !important;
}
.dropdown-menu {
	box-shadow: none;
}
@media screen and (max-width: 768px) {
	.dropdown-menu{
		max-width: 220px;
	    background-color: white !important;
	    margin-left: 1em;
	}
}
@media screen and (min-width: 768px) and (max-width: 1150px) {
	.dropdown-menu{
		max-width: 220px;
		position: static;
	    float: none;
	    margin: 0 0 0 1em;
	    border: 0;
	}
}
@media screen and (max-width: 1150px) {
	.dropdown-menu{
	    position: static;
	    float: none;
	}
}

.languageButton{
	margin-right:10px;
}
#help{
	margin-right:10px;
}


.helpButton{
	cursor: pointer;
	font-size: 0.8em;
}
#help .fa{
    margin-right:0px;
}
#help h4{
    font-size: 1em;
}
#help p{
	font-size: 0.5em;
}

.modal-backdrop {
/*    background-color: red; */
}
body.modal-open .modal {
    display: flex !important;
    height: 100%;
} 
.modal-body a{
	margin-right:10px;
}
body.modal-open .modal .modal-dialog {
    margin: auto;
}
.modal-header{
	background-color:#34bbfc;
	border-bottom: 5px solid #337ab7;
}
.modal-header-help{
	
	display:flex;
	justify-content:space-between;
    align-items: center;
}
.modal-header button{
	
	margin-left:auto;
}
.modal-footer{
	border-top: 5px solid #337ab7;
	background-color:#34bbfc;
}

.modal-content{
	    overflow:hidden;
	border-radius: 10px;
	
}
.modal-title{
	font-family: Lato;
}
.modal-icon{
	margin-right:auto;
	height:48px;	
}

