@reference "#tailwind-main";

/* Based on https://css-tricks.com/old-timey-terminal-styling/ */
.container {
  @apply border-border relative m-4 h-48 rounded-lg border;

  background-color: var(--color-stone-900);
  background-image: radial-gradient(--theme(--color-primary-0 / 75%), var(--color-stone-900) 120%);
  text-shadow: 0 0 5px #c8c8c8;

  &::after {
    @apply pointer-events-none absolute inset-0 h-full w-full;
    content: "";
    background: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15) 1px,
      transparent 1px,
      transparent 2px
    );
  }
}

.text {
  @apply scrollbar-stone-800 max-h-48 overflow-auto whitespace-pre-wrap break-all p-1 font-mono text-lg text-white;

  ::selection {
    background-color: #0080ff;
    text-shadow: none;
  }
}
