@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 100 900;
  src: url("/fonts/chivo/Chivo[wght].ttf") format("ttf-variations");
  font-named-instance: "Regular";
}

@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 100 900;
  src: url("/fonts/chivo/Chivo-Italic[wght].ttf") format("ttf-variations");
  font-named-instance: "Italic";
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  src: url("/fonts/jetbrains-mono/JetBrainsMono[wght].woff2") format("woff2-variations");
  font-named-instance: "Regular";
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 100 800;
  src: url("/fonts/jetbrains-mono/JetBrainsMono-Italic[wght].woff2") format("woff2-variations");
  font-named-instance: "Italic";
}
